*, *::after, *::before {
	box-sizing: inherit;
}

:root {
	--backgroundColor: rgb(34, 34, 34);
	--color: white;
	--inputColor: var(--backgroundColor);
	box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
	:root {
		--backgroundColor: white;
		--color: rgb(34, 34, 34);
		--inputColor: var(--color);
	}
}

body {
	background-color: var(--backgroundColor);
	color: var(--color);
	font-family: sans-serif;
}

.section {
	padding-top: 30px;
}

.form-label {
	width: 100%;
}

.form-control {
	font-family: inherit;
	color: var(--inputColor);
	font-size: 1.3em;
}

.form {
	max-width: 400px;
	padding: 2.5em;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.form-output {
	font-size: 1.2em;
	width: 100%;
	display: block;
	/* overflow: hidden; */
}

.form-output > div {
	border: 1px solid var(--color);
	padding: 10px;
}

.form-output div:not(:last-of-type) {
	border-bottom: none;
}

.white-space-nowrap {
	white-space: nowrap;
}

.table {
	--borderWidth: 2px;
	margin-top: 50px;
	color: var(--color);
	border: var(--borderWidth) solid var(--color);
	width: 100%;
	overflow-y: hidden;
	display: block;
}

.table tr th,
.table tr td {
	text-align: center;
	vertical-align: middle;
}

.table tr td:not(:last-child),
.table tr th:not(:last-child) {
	border-right: var(--borderWidth) solid var(--color);
}

.table tbody tr:not(:last-child),
.table thead tr {
	border-bottom: var(--borderWidth) solid var(--color);
}
